.footer .top-m {
  margin-top: 6rem;
}
.endbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 1.5rem;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--gray-primary);

  color: var(--gray-secondary);
}
.endbar .email-link {
  display: inline-block;

  color: var(--gray-secondary);

  font-weight: 600;
  font-size: 0.95rem;

  text-decoration: none;

  margin-left: 7.5rem;
}
.endbar .social {
  display: flex;
  gap: 1rem;
}
.endbar .icon-2 {
  width: 1.48rem;

  color: var(--gray-secondary);
}
.endbar .icon-link {
  width: 1.25rem;
  color: var(--gray-secondary);
  display: flex;
}

.endbar .email-link:hover{
  color: var(--dark-gray-secondary);
}
.enbar .icon-2:hover,
.endbar .icon-link:hover{
  fill:var(--dark-gray-secondary);

}

/*=========================================
    R   E   S   P   O   N   S   I   V   E
  =========================================*/

  
/*================================
      T   A   B   L   E   T
  ================================*/

@media (max-width:768px){
  .endbar{
    flex-direction: column;
    gap:2rem;
    padding-top: 2.85rem;
  }
  .icon-2-link{
    display: none;
  }
  .endbar .email-link{
    margin-left: 0;
  }
  .endbar .social{
    margin-right: 1rem;
  }
}

  /*=================================
        M   O   B   I   L   E
  =================================*/
  .endbar {
    padding-top: 2.65rem;
    gap: 2.2rem;
  }
