.main .section {
  padding-top: 4rem;
}

.blog-container {
  text-align: left;
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}
.blog-container h1 {
  margin-bottom: 4rem;
  font-size: 2.25rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-primary);
}
.blog-container a h2 {
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
}
.blog-content a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--black-primary);
}
.blog-content a:hover{
  color: var(--blue-secondary);
}
.blog-content .blog-link {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-primary);
}

.blog-content a time {
  color: var(--gray-secondary);
  font-weight: 600;
}

/*=========================================
    R   E   S   P   O   N   S   I   V   E
  =========================================*/
@media (max-width:1024px){
  .blog-container h1 {
    font-size: 1.5rem;
  }
  .blog-content .blog-link,
  .blog-content .blog-Link{
    align-items: baseline;
  }
  .blog-content h2{
    width:81%;
    font-stretch: ultra-expanded;
  }
}

/*================================
      T   A   B   L   E   T
================================*/

@media (max-width: 768px) {
  .main .section {
    padding-top: 2.5rem;
  }
  .blog-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .blog-container .blog-content .blog-link {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .blog-content a time {
    margin-top: 0.25rem;
  }
}

/*=================================
        M   O   B   I   L   E
  =================================*/

@media (max-width: 640px) {
  .main .section {
    padding-top: 2rem;
  }
  .section h1 {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    margin-bottom: 2rem;
  }
  .section .blog-link {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .blog-content .blog-link,
  .blog-content .blog-Link {
    display: block;
  }
  .blog-content .blog-link h2,
  .blog-content .blog-Link h2 {
    font-size: 1rem;
    line-height: 1.75;
  }
}
